
### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudio
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/

### Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

### macOS
*.DS_Store
.AppleDouble
.LSOverride
